langchain-core
langchain-openai
langchain-community
langgraph
numpy
faiss-cpu
pydantic-settings
retry
decorator
fastapi
uvicorn
supabase
psycopg2[binary]
pytz
requests
langchain-text-splitters
langchain-postgres
asyncpg[binary]
tavily-python
bcrypt
pyjwt
passlib
python-multipart
email-validator
sqlalchemy
asyncpg
python-jose[cryptography]
passlib[bcrypt]